<% @comedians.each do |comedian| %>
<h2> <%= comedian.name %>, <%= comedian.age %></h2>
<ul>
  <% comedian.specials.each do |special| %>
    <li> <%= special.name %> </li>
  <% end %>
  <li> <%= "Number of specials: #{comedian.specials_count}" %></li>
</ul>
<% end %>

<p><%= "Average age: #{@average_age}" %></p>
